<app-menu-administrador></app-menu-administrador>

<form class="border solid">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombres</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Edad</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Sexo</label><br>
        <select name="" id="Tipo sexo" required>
            <option disabled selected>Selecciona una opcion</option>
            <option value="F">Femenino.</option>
            <option value="M">Masculino</option>
            <option value="N">No identifica</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">tipo de documento</label><br>
            <select name="" id="Tipo documento">
                <option disabled selected required>Selecciona una opcion</option>
                <option value="C.C.">C.C.</option>
                <option value="T.I.">T.I.</option>
            </select>
            <div id="emailHelp" class="form-text"></div>
       </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Numero de documento</label>
        <input type="text" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Direccion</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Carrera</label>
        <input type="text" class="form-control" id="exampleInputPassword1" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jornada</label><br>
        <select name="Jornada">
            <option disabled selected required>Selecciona una opcion</option>
            <option value="Diurna">Diurna</option>
            <option value="Nocturna">Nocturna</option>
        </select>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
</form> 