<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-dark bg-dark">

      </nav>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Ingresar</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Registrarse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Créditos</a>
              </li>
          </ul>
          <div class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
          </div>
      </div>
  </div>
</nav>



<form class="border solid">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Ver contraseña</label>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    
</form>
        

<form class="border solid">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombres</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Apellidos</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Edad</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Sexo</label><br>
        <select name="" id="Tipo sexo">
            <option disabled="">Selecciona una opcion</option>
            <option value="F">Femenino.</option>
            <option value="M">Masculino</option>
            <option value="N">No identifica</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">tipo de documento</label><br>
            <select name="" id="Tipo documento">
                <option disabled="">Selecciona una opcion</option>
                <option value="C.C.">C.C.</option>
                <option value="T.I.">T.I.</option>
            </select>
            <div id="emailHelp" class="form-text"></div>
       </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Numero de documento</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Direccion</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Telefono</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Carrera</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jornada</label><br>
        <select name="Jornada">
            <option disabled="">Selecciona una opcion</option>
            <option value="Diurna">Diurna</option>
            <option value="Nocturna">Nocturna</option>
        </select>
      </div>
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
</form>
